<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.example.motorcycle.repository.ElectronicsMapper">-->

<!--        &lt;!&ndash; resultMap 정의 &ndash;&gt;-->
<!--        <resultMap id="electronicsResultMap" type="com.example.motorcycle.dto.ElectronicsDTO">-->
<!--                <id property="motorcycleID" column="motorcycleID" />-->
<!--                <result property="engineManagement" column="engineManagement" />-->
<!--                <result property="emissionControl" column="emissionControl" />-->
<!--                <result property="engineControl" column="engineControl" />-->
<!--                <result property="alternator" column="alternator" />-->
<!--                <result property="battery" column="battery" />-->
<!--                <result property="headlight" column="headlight" />-->
<!--                <result property="ignition" column="ignition" />-->
<!--                <result property="starting" column="starting" />-->
<!--                <result property="tractionControl" column="tractionControl" />-->
<!--        </resultMap>-->

<!--        &lt;!&ndash; 데이터 삽입 &ndash;&gt;-->
<!--        <insert id="insertElectronicsData" parameterType="com.example.motorcycle.dto.ElectronicsDTO" keyProperty="motorcycleID">-->
<!--                INSERT INTO Electronics (motorcycleID, engineManagement, emissionControl, engineControl, alternator, battery, headlight, ignition, starting, tractionControl)-->
<!--                VALUES (#{motorcycleID}, #{engineManagement}, #{emissionControl}, #{engineControl}, #{alternator}, #{battery}, #{headlight}, #{ignition}, #{starting}, #{tractionControl})-->
<!--        </insert>-->

<!--        &lt;!&ndash; 데이터 조회 &ndash;&gt;-->
<!--        <select id="findByMotorcycleId" parameterType="long" resultMap="electronicsResultMap">-->
<!--                SELECT * FROM Electronics WHERE motorcycleID = #{motorcycleID}-->
<!--        </select>-->

<!--        &lt;!&ndash; 데이터 업데이트 &ndash;&gt;-->
<!--        <update id="updateElectronicsData" parameterType="com.example.motorcycle.dto.ElectronicsDTO">-->
<!--                UPDATE Electronics-->
<!--                SET engineManagement = #{engineManagement}, emissionControl = #{emissionControl}, engineControl = #{engineControl},-->
<!--                    alternator = #{alternator}, battery = #{battery}, headlight = #{headlight}, ignition = #{ignition},-->
<!--                    starting = #{starting}, tractionControl = #{tractionControl}-->
<!--                WHERE motorcycleID = #{motorcycleID}-->
<!--        </update>-->

<!--        &lt;!&ndash; 데이터 삭제 &ndash;&gt;-->
<!--        <delete id="deleteElectronicsData" parameterType="long">-->
<!--                DELETE FROM Electronics WHERE motorcycleID = #{motorcycleID}-->
<!--        </delete>-->

<!--</mapper>-->