<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Motorcycle Main</title>
</head>
<body>
<h1>Motorcycle Management</h1>

<div th:if="${message}" th:text="${message}" style="color: green;"></div>
<div th:if="${error}" th:text="${error}" style="color: red;"></div>

<div><!-- motorcycle.html -->
<a th:href="@{/}" class="btn btn-secondary">시작 페이지로 돌아가기</a>
</div>

<div>
    <h2>Motorcycle 목록 조회</h2>
    <a th:href="@{/motorcycle/list}">전체 목록 보기</a>
</div>

<div>
    <h2>Motorcycle 데이터 추가</h2>
    <a th:href="@{/motorcycle/new}">새 데이터 추가</a>
</div>
<div>
    <h2>View Motorcycle</h2>
    <form th:action="@{/motorcycle/singleSearchID}" method="get">
        <label>입력된 ID 조회:</label>
        <input type="number" name="id" />
        <button type="submit">Motorcycle 조회</button>
    </form>
</div>

<div>
    <h2>Edit Motorcycle</h2>
    <form th:action="@{/motorcycle/edit}" method="get">
        <label>입력된 ID 수정:</label>
        <input type="number" name="editId" />
        <button type="submit">Motorcycle 수정</button>
    </form>
</div>

<div>
    <h2>Delete Motorcycle</h2>
    <form th:action="@{/motorcycle/delete}" method="post" th:object="${deleteMotorcycleDTO}">
        <div>
        <label>입력된 ID 삭제:</label>
        <input type="number" id="motorcycleID" th:field="*{motorcycleID}" required>
        </div>
        <button type="submit" class="btn btn-danger">Motorcycle 삭제</button>
    </form>
</div>
</body>
</html>
