<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>오토바이 추천 설문조사</title>
</head>
<body>
<form method="POST" th:action="@{/question11to15}" th:object="${boardForm}">
    <div class="survey-content">
        <h2>오토바이 설문조사</h2>
        <p>아래 질문에 답변을 선택해주세요. 총 20문항 중 5문항을 보여드립니다.</p>

        <div class="question">
            <p>6. 나는 카울이 있는 바이크가 좋다</p>
            <label><input th:field="*{q6}" type="radio" value="1"> 그렇다</label>

            <label><input th:field="*{q6}" type="radio" value="0"> 그렇지 않다</label>
        </div>

        <div class="question">
            <p>7. 나는 핸들이 낮고 숙이는 바이크가 좋다</p>
            <label><input th:field="*{q7}" type="radio" value="1"> 그렇다</label>
            <label><input th:field="*{q7}" type="radio" value="0"> 그렇지 않다</label>
        </div>

        <div class="question">
            <p>8. 나는 핸들이 높아서 편하게 탈 수 있으면 좋겠다</p>
            <label><input th:field="*{q8}" type="radio" value="1"> 그렇다</label>
            <label><input th:field="*{q8}" type="radio" value="0"> 그렇지 않다</label>
        </div>

        <div class="question">
            <p>9. 나는 시트고가 낮는 바이크를 원한다</p>
            <label><input th:field="*{q9}" type="radio" value="1"> 그렇다</label>
            <label><input th:field="*{q9}" type="radio" value="0"> 그렇지 않다</label>
        </div>

        <div class="question">
            <p>10. 나는 ABS와 같은 안전과 관련된 기능이 탑재된 바이크를 원한다</p>
            <label><input th:field="*{q10}" type="radio" value="1"> 그렇다</label>
            <label><input th:field="*{q10}" type="radio" value="0"> 그렇지 않다</label>
        </div>

        <button class="submit-btn" type="submit">다음</button>

    </div>
</form>
</body>
</html>
