<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Motorcycle Detail View</title>
</head>
<body>
<h1 th:text="${motorcycleDTO.model} + ' 상세 정보'">Motorcycle Model Name</h1>

<!-- Motorcycle 기본 정보 -->
<h2>Motorcycle 정보</h2>
<p>motorcycleID : <span th:text="${motorcycleDTO.motorcycleID}">ID</span></p>
<p>brand : <span th:text="${motorcycleDTO.brand}">Brand</span></p>
<p>model : <span th:text="${motorcycleDTO.model}">Model</span></p>
<p>years : <span th:text="${motorcycleDTO.years}">Year</span></p>
<p>replica : <span th:text="${motorcycleDTO.replica}">Replica</span></p>
<p>cruiser : <span th:text="${motorcycleDTO.cruiser}">Cruiser</span></p>
<p>tourer : <span th:text="${motorcycleDTO.tourer}">Tourer</span></p>
<p>adventure : <span th:text="${motorcycleDTO.adventure}">Adventure</span></p>
<p>multiPurpose : <span th:text="${motorcycleDTO.multiPurpose}">Multi Purpose</span></p>
<p>naked : <span th:text="${motorcycleDTO.naked}">Naked</span></p>
<p>scrambler : <span th:text="${motorcycleDTO.scrambler}">Scrambler</span></p>
<p>offRoad : <span th:text="${motorcycleDTO.offRoad}">Off Road</span></p>
<p>motard : <span th:text="${motorcycleDTO.motard}">Motard</span></p>
<p>trial : <span th:text="${motorcycleDTO.trial}">Trial</span></p>
<p>scooter : <span th:text="${motorcycleDTO.scooter}">Scooter</span></p>
<p>classic : <span th:text="${motorcycleDTO.classic}">Classic</span></p>
<p>cafeRacer : <span th:text="${motorcycleDTO.cafeRacer}">Cafe Racer</span></p>

<!-- Dimensions 정보 -->
<h2>Dimensions 정보</h2>
<p>wheelbase : <span th:text="${motorcycleDTO.dimensionsDTO.wheelbase}">Wheelbase</span></p>
<p>seatHeight : <span th:text="${motorcycleDTO.dimensionsDTO.seatHeight}">Seat Height</span></p>
<p>wetWeight : <span th:text="${motorcycleDTO.dimensionsDTO.wetWeight}">Wet Weight</span></p>
<p>fuelCapacity : <span th:text="${motorcycleDTO.dimensionsDTO.fuelCapacity}">Fuel Capacity</span></p>
<p>groundClearance : <span th:text="${motorcycleDTO.dimensionsDTO.groundClearance}">Ground Clearance</span></p>
<p>dryWeight : <span th:text="${motorcycleDTO.dimensionsDTO.dryWeight}">Dry Weight</span></p>
<p>length : <span th:text="${motorcycleDTO.dimensionsDTO.length}">Length</span></p>
<p>width : <span th:text="${motorcycleDTO.dimensionsDTO.width}">Width</span></p>
<p>height : <span th:text="${motorcycleDTO.dimensionsDTO.height}">Height</span></p>
<p>frontTyreWidth : <span th:text="${motorcycleDTO.dimensionsDTO.frontTyreWidth}">Front Tyre Width</span></p>
<p>frontTyreAspectRatio : <span th:text="${motorcycleDTO.dimensionsDTO.frontTyreAspectRatio}">Front Tyre Aspect Ratio</span></p>
<p>frontTyreStructure : <span th:text="${motorcycleDTO.dimensionsDTO.frontTyreStructure}">Front Tyre Structure</span></p>
<p>frontTyreDiameter : <span th:text="${motorcycleDTO.dimensionsDTO.frontTyreDiameter}">Front Tyre Diameter</span></p>
<p>rearTyreWidth : <span th:text="${motorcycleDTO.dimensionsDTO.rearTyreWidth}">Rear Tyre Width</span></p>
<p>rearTyreAspectRatio : <span th:text="${motorcycleDTO.dimensionsDTO.rearTyreAspectRatio}">Rear Tyre Aspect Ratio</span></p>
<p>rearTyreStructure : <span th:text="${motorcycleDTO.dimensionsDTO.rearTyreStructure}">Rear Tyre Structure</span></p>
<p>rearTyreDiameter : <span th:text="${motorcycleDTO.dimensionsDTO.rearTyreDiameter}">Rear Tyre Diameter</span></p>
<p>frontBrakeDiscCount : <span th:text="${motorcycleDTO.dimensionsDTO.frontBrakeDiscCount}">Front Brake Disc Count</span></p>
<p>frontBrakeDiscSize : <span th:text="${motorcycleDTO.dimensionsDTO.frontBrakeDiscSize}">Front Brake Disc Size</span></p>
<p>frontBrakeDiscType : <span th:text="${motorcycleDTO.dimensionsDTO.frontBrakeDiscType}">Front Brake Disc Type</span></p>
<p>frontBrakePistonCount : <span th:text="${motorcycleDTO.dimensionsDTO.frontBrakePistonCount}">Front Brake Piston Count</span></p>
<p>rearBrakeDiscSize : <span th:text="${motorcycleDTO.dimensionsDTO.rearBrakeDiscSize}">Rear Brake Disc Size</span></p>
<p>rearBrakeDiscType : <span th:text="${motorcycleDTO.dimensionsDTO.rearBrakeDiscType}">Rear Brake Disc Type</span></p>
<p>rearBrakePistonCount : <span th:text="${motorcycleDTO.dimensionsDTO.rearBrakePistonCount}">Rear Brake Piston Count</span></p>
<p>frameType : <span th:text="${motorcycleDTO.dimensionsDTO.frameType}">Frame Type</span></p>
<p>frameMaterial : <span th:text="${motorcycleDTO.dimensionsDTO.frameMaterial}">Frame Material</span></p>

<!-- Electronics 정보 -->
<h2>Electronics 정보</h2>
<p>startSystem : <span th:text="${motorcycleDTO.electronicsDTO.startSystem}">Start System</span></p>
<p>abs : <span th:text="${motorcycleDTO.electronicsDTO.abs}">ABS</span></p>
<p>tcs : <span th:text="${motorcycleDTO.electronicsDTO.tcs}">TCS</span></p>
<p>cruiseControl : <span th:text="${motorcycleDTO.electronicsDTO.cruiseControl}">Cruise Control</span></p>
<p>assistSlipperClutch : <span th:text="${motorcycleDTO.electronicsDTO.assistSlipperClutch}">Assist Slipper Clutch</span></p>
<p>electronicScreen : <span th:text="${motorcycleDTO.electronicsDTO.electricScreen}">Electronic Screen</span></p>
<p>clutchAssistSystem : <span th:text="${motorcycleDTO.electronicsDTO.clutchAssistSystem}">Clutch Assist System</span></p>
<p>imu : <span th:text="${motorcycleDTO.electronicsDTO.imu}">IMU</span></p>
<p>corneringAbs : <span th:text="${motorcycleDTO.electronicsDTO.corneringAbs}">Cornering ABS</span></p>
<p>wheelieControl : <span th:text="${motorcycleDTO.electronicsDTO.wheelieControl}">Wheelie Control</span></p>
<p>ridingModeChange : <span th:text="${motorcycleDTO.electronicsDTO.ridingModeChange}">Riding Mode Change</span></p>
<p>bankingAngleDisplay : <span th:text="${motorcycleDTO.electronicsDTO.bankingAngleDisplay}">Banking Angle Display</span></p>
<p>absLevelControl : <span th:text="${motorcycleDTO.electronicsDTO.absLevelControl}">ABS Level Control</span></p>
<p>quickshiftUp : <span th:text="${motorcycleDTO.electronicsDTO.quickshiftUp}">Quickshift Up</span></p>
<p>quickshiftUpDown : <span th:text="${motorcycleDTO.electronicsDTO.quickshiftUpDown}">Quickshift Up Down</span></p>

<!-- Engines 정보 -->
<h2>Engines 정보</h2>
<p>capacity : <span th:text="${motorcycleDTO.enginesDTO.capacity}">Capacity</span></p>
<p>boreStroke : <span th:text="${motorcycleDTO.enginesDTO.boreStroke}">Bore Stroke</span></p>
<p>compressionRatio : <span th:text="${motorcycleDTO.enginesDTO.compressionRatio}">Compression Ratio</span></p>
<p>coolingSystem : <span th:text="${motorcycleDTO.enginesDTO.coolingSystem}">Cooling System</span></p>
<p>lubrication : <span th:text="${motorcycleDTO.enginesDTO.lubrication}">Lubrication</span></p>
<p>fuelSystem : <span th:text="${motorcycleDTO.enginesDTO.fuelSystem}">Fuel System</span></p>
<p>emission : <span th:text="${motorcycleDTO.enginesDTO.emission}">Emission</span></p>
<p>induction : <span th:text="${motorcycleDTO.enginesDTO.induction}">Induction</span></p>
<p>mileage : <span th:text="${motorcycleDTO.enginesDTO.mileage}">Mileage</span></p>
<p>topSpeed : <span th:text="${motorcycleDTO.enginesDTO.topSpeed}">Top Speed</span></p>
<p>clutch : <span th:text="${motorcycleDTO.enginesDTO.clutch}">Clutch</span></p>
<p>transmissionGearCount : <span th:text="${motorcycleDTO.enginesDTO.transmissionGearCount}">Transmission Gear Count</span></p>
<p>transmissionType : <span th:text="${motorcycleDTO.enginesDTO.transmissionType}">Transmission Type</span></p>
<p>engineStroke : <span th:text="${motorcycleDTO.enginesDTO.engineStroke}">Engine Stroke</span></p>
<p>engineCylinder : <span th:text="${motorcycleDTO.enginesDTO.engineCylinder}">Engine Cylinder</span></p>
<p>engineCamshaft : <span th:text="${motorcycleDTO.enginesDTO.engineCamshaft}">Engine Camshaft</span></p>
<p>engineType : <span th:text="${motorcycleDTO.enginesDTO.engineType}">Engine Type</span></p>
<p>engineCrankAngle : <span th:text="${motorcycleDTO.enginesDTO.engineCrankAngle}">Engine Crank Angle</span></p>
<p>maxPowerHp : <span th:text="${motorcycleDTO.enginesDTO.maxPowerHp}">Max Power HP</span></p>
<p>maxPowerRpm : <span th:text="${motorcycleDTO.enginesDTO.maxPowerRpm}">Max Power RPM</span></p>
<p>maxTorqueNm : <span th:text="${motorcycleDTO.enginesDTO.maxTorqueNm}">Max Torque NM</span></p>
<p>maxTorqueRpm : <span th:text="${motorcycleDTO.enginesDTO.maxTorqueRpm}">Max Torque RPM</span></p>

</body>
</html>
