<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.motorcycle.mapper.DimensionsMapper">

        <!-- resultMap 정의 -->
        <resultMap id="dimensionsResultMap" type="com.example.motorcycle.dto.DimensionsDTO">
                <id property="motorcycleID" column="motorcycleID" />
                <result property="dimensions" column="dimensions" />
                <result property="seatHeight" column="seatHeight" />
                <result property="wheelbase" column="wheelbase" />
                <result property="groundClearance" column="groundClearance" />
                <result property="dryWeight" column="dryWeight" />
                <result property="wetWeight" column="wetWeight" />
                <result property="fuelCapacity" column="fuelCapacity" />
                <result property="innerLegCurve" column="innerLegCurve" />
                <result property="permittedTotalWeight" column="permittedTotalWeight" />
        </resultMap>

        <!-- 데이터 삽입 -->
        <insert id="insertDimensionsData" parameterType="com.example.motorcycle.dto.DimensionsDTO">
                INSERT INTO Dimensions (motorcycleID, dimensions, seatHeight, wheelbase, groundClearance, dryWeight, wetWeight, fuelCapacity, innerLegCurve, permittedTotalWeight)
                VALUES (#{motorcycleID}, #{dimensions}, #{seatHeight}, #{wheelbase}, #{groundClearance}, #{dryWeight}, #{wetWeight}, #{fuelCapacity}, #{innerLegCurve}, #{permittedTotalWeight})
        </insert>

        <!-- 데이터 조회 -->
        <select id="findByMotorcycleId" parameterType="long" resultMap="dimensionsResultMap">
                SELECT * FROM Dimensions WHERE motorcycleID = #{motorcycleID}
        </select>

        <!-- 데이터 업데이트 -->
        <update id="updateDimensionsData" parameterType="com.example.motorcycle.dto.DimensionsDTO">
                UPDATE Dimensions
                SET dimensions = #{dimensions}, seatHeight = #{seatHeight}, wheelbase = #{wheelbase}, groundClearance = #{groundClearance},
                    dryWeight = #{dryWeight}, wetWeight = #{wetWeight}, fuelCapacity = #{fuelCapacity}, innerLegCurve = #{innerLegCurve},
                    permittedTotalWeight = #{permittedTotalWeight}
                WHERE motorcycleID = #{motorcycleID}
        </update>

        <!-- 데이터 삭제 -->
        <delete id="deleteDimensionsData" parameterType="long">
                DELETE FROM Dimensions WHERE motorcycleID = #{motorcycleID}
        </delete>

</mapper>