<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.motorcycle.repository.MotorcycleMapper">

        <!-- resultMap 정의 -->
        <resultMap id="motorcycleResultMap" type="com.example.motorcycle.domain.MotorcycleDomain">
                <id property="motorcycleID" column="motorcycleID" />
                <result property="brand" column="brand" />
                <result property="model" column="model" />
                <result property="years" column="years" />
                <result property="production" column="production" />
                <result property="replica" column="replica" />
                <result property="cruiser" column="cruiser" />
                <result property="tourer" column="tourer" />
                <result property="adventure" column="adventure" />
                <result property="multiPurpose" column="multiPurpose" />
                <result property="naked" column="naked" />
                <result property="cafeRacer" column="cafeRacer" />
                <result property="scrambler" column="scrambler" />
                <result property="offRoad" column="offRoad" />
                <result property="motard" column="motard" />
                <result property="trial" column="trial" />
                <result property="scooter" column="scooter" />
                <result property="classic" column="classic" />

            <association property="dimensionsDomain" javaType="com.example.motorcycle.domain.DimensionsDomain">
                <result property="dimensions" column="dimensions" />
                <result property="seatHeight" column="seatHeight" />
                <result property="wheelbase" column="wheelbase" />
                <result property="groundClearance" column="groundClearance" />
                <result property="dryWeight" column="dryWeight" />
                <result property="wetWeight" column="wetWeight" />
                <result property="fuelCapacity" column="fuelCapacity" />
                <result property="innerLegCurve" column="innerLegCurve" />
                <result property="permittedTotalWeight" column="permittedTotalWeight" />
            </association>

            <association property="electronicsDomain" javaType="com.example.motorcycle.domain.ElectronicsDomain">
                <result property="engineManagement" column="engineManagement" />
                <result property="emissionControl" column="emissionControl" />
                <result property="engineControl" column="engineControl" />
                <result property="alternator" column="alternator" />
                <result property="battery" column="battery" />
                <result property="headlight" column="headlight" />
                <result property="ignition" column="ignition" />
                <result property="starting" column="starting" />
                <result property="tractionControl" column="tractionControl" />
            </association>

            <association property="enginesDomain" javaType="com.example.motorcycle.domain.EnginesDomain">
                <result property="engine" column="engine" />
                <result property="capacity" column="capacity" />
                <result property="boreStroke" column="bore_stroke" />
                <result property="compressionRatio" column="compression_ratio" />
                <result property="coolingSystem" column="cooling_system" />
                <result property="lubrication" column="lubrication" />
                <result property="maxPower" column="max_power" />
                <result property="maxTorque" column="max_torque" />
                <result property="fuelSystem" column="fuel_system" />
                <result property="exhaust" column="exhaust" />
                <result property="engineOil" column="engine_oil" />
                <result property="mixtureControl" column="mixture_control" />
                <result property="emission" column="emission" />
                <result property="induction" column="induction" />
            </association>

            <association property="framesDomain" javaType="com.example.motorcycle.domain.FramesDomain">
                <result property="frame" column="frame" />
                <result property="frontSuspension" column="frontSuspension" />
                <result property="rearSuspension" column="rearSuspension" />
                <result property="frontWheelTravel" column="frontWheelTravel" />
                <result property="rearWheelTravel" column="rearWheelTravel" />
                <result property="frontBrakes" column="frontBrakes" />
                <result property="rearBrakes" column="rearBrakes" />
                <result property="absSystem" column="absSystem" />
                <result property="frontWheel" column="frontWheel" />
                <result property="rearWheel" column="rearWheel" />
                <result property="frontTyre" column="frontTyre" />
                <result property="rearTyre" column="rearTyre" />
                <result property="wheels" column="wheels" />
                <result property="abs" column="abs" />
                <result property="absPro" column="absPro" />
                <result property="rake" column="rake" />
                <result property="trail" column="trail" />
                <result property="frontRim" column="frontRim" />
                <result property="rearRim" column="rearRim" />
                <result property="castor" column="castor" />
                <result property="steeringAngle" column="steeringAngle" />
                <result property="steeringHeadAngle" column="steeringHeadAngle" />
            </association>

            <association property="transmissionsDomain" javaType="com.example.motorcycle.domain.TransmissionsDomain">
                <result property="transmissionDrive" column="transmission_drive" />
                <result property="transmission" column="transmission" />
                <result property="finalDrive" column="final_drive" />
                <result property="primaryDriveRatio" column="primary_drive_ratio" />
                <result property="primaryRatio" column="primary_ratio" />
                <result property="gearRatio" column="gear_ratio" />
                <result property="transmissionRatio" column="transmission_ratio" />
                <result property="secondaryRatio" column="secondary_ratio" />
                <result property="gearRatios" column="gear_ratios" />
                <result property="clutch" column="clutch" />
            </association>
        </resultMap>
        <!--단일 데이터 조회 -->
        <select id="findByMotorcycleId" parameterType="long" resultMap="motorcycleResultMap">
                SELECT m.*,
                       -- Dimensions 필드들
                       d.dimensions,d.seatHeight,d.wheelbase,d.groundClearance,d.dryWeight,d.wetWeight, d.fuelCapacity,d.innerLegCurve,d.permittedTotalWeight,
                       -- Electronics 필드들
                       e.engineManagement,e.emissionControl,e.engineControl,e.alternator,e.battery,e.headlight,e.ignition  AS engineIgnition,e.starting,e.tractionControl,
                       -- Engines 필드들
                       en.engine,en.capacity,en.bore_stroke,en.compression_ratio,en.cooling_system,en.lubrication,en.max_power,en.max_torque,en.fuel_system,en.exhaust,en.engine_oil,en.mixture_control,en.emission, en.induction,
                       -- Frames 필드들
                       f.frame,f.frontSuspension,f.rearSuspension,f.frontWheelTravel,f.rearWheelTravel,f.frontBrakes,f.rearBrakes,f.absSystem,f.frontWheel,f.rearWheel,f.frontTyre,f.rearTyre,f.wheels,f.abs, f.absPro,f.rake,f.trail,f.frontRim,f.rearRim,f.castor,f.steeringAngle,f.steeringHeadAngle,
                       -- Transmissions 필드들
                       t.transmission_drive,t.transmission,t.final_drive,t.primary_drive_ratio,t.primary_ratio,t.gear_ratio,t.transmission_ratio,t.secondary_ratio,t.gear_ratios,t.clutch
                FROM Motorcycle m
                             LEFT JOIN Electronics e ON m.motorcycleID = e.motorcycleID
                             LEFT JOIN Dimensions d ON m.motorcycleID = d.motorcycleID
                             LEFT JOIN Frames f ON m.motorcycleID = f.motorcycleID
                             LEFT JOIN Transmissions t ON m.motorcycleID = t.motorcycleID
                             LEFT JOIN Engines en ON m.motorcycleID = en.motorcycleID
                WHERE m.motorcycleID = #{motorcycleID}
        </select>

        <!--전체 데이터 조회 -->
        <select id = "findAll" resultMap="motorcycleResultMap">
                SELECT m.*,
                       -- Dimensions 필드들
                       d.dimensions,d.seatHeight,d.wheelbase,d.groundClearance,d.dryWeight,d.wetWeight,d.fuelCapacity,d.innerLegCurve,d.permittedTotalWeight,
                       -- Electronics 필드들
                       e.engineManagement,e.emissionControl,e.engineControl,e.alternator,e.battery,e.headlight,e.ignition  AS engineIgnition,e.starting,e.tractionControl,
                       -- Engines 필드들
                       en.engine,en.capacity,en.bore_stroke,en.compression_ratio,en.cooling_system,en.lubrication,en.max_power,en.max_torque,en.fuel_system,en.exhaust,en.engine_oil,en.mixture_control,en.emission,en.induction,
                       -- Frames 필드들
                       f.frame,f.frontSuspension,f.rearSuspension,f.frontWheelTravel,f.rearWheelTravel,f.frontBrakes,f.rearBrakes,f.absSystem,f.frontWheel,f.rearWheel,f.frontTyre,f.rearTyre,f.wheels,f.abs,f.absPro,f.rake,f.trail,f.frontRim,f.rearRim,f.castor,f.steeringAngle,f.steeringHeadAngle,
                       -- Transmissions 필드들
                       t.transmission_drive,t.transmission,t.final_drive,t.primary_drive_ratio,t.primary_ratio,t.gear_ratio,t.transmission_ratio,t.secondary_ratio,t.gear_ratios,t.clutch
                FROM Motorcycle m
                             LEFT JOIN Electronics e ON m.motorcycleID = e.motorcycleID
                             LEFT JOIN Dimensions d ON m.motorcycleID = d.motorcycleID
                             LEFT JOIN Frames f ON m.motorcycleID = f.motorcycleID
                             LEFT JOIN Transmissions t ON m.motorcycleID = t.motorcycleID
                             LEFT JOIN Engines en ON m.motorcycleID = en.motorcycleID
        </select>


        <!-- 데이터 삽입 -->
        <insert id="insertMotorcycleData" parameterType="com.example.motorcycle.domain.MotorcycleDomain" useGeneratedKeys="true" keyProperty="motorcycleID">
                INSERT INTO Motorcycle (brand, model, years, production, replica, cruiser, tourer, adventure, multiPurpose, naked, cafeRacer, scrambler, offRoad, motard, trial, scooter, classic)
                VALUES (#{brand}, #{model}, #{years}, #{production}, #{replica}, #{cruiser}, #{tourer}, #{adventure}, #{multiPurpose}, #{naked}, #{cafeRacer}, #{scrambler}, #{offRoad}, #{motard}, #{trial}, #{scooter}, #{classic})
        </insert>
        <insert id="insertDimensionsData" parameterType="com.example.motorcycle.dto.DimensionsDTO">
            INSERT INTO Dimensions (motorcycleID, dimensions, seatHeight, wheelbase, groundClearance, dryWeight, wetWeight, fuelCapacity, innerLegCurve, permittedTotalWeight)
            VALUES (#{motorcycleID}, #{dimensions}, #{seatHeight}, #{wheelbase}, #{groundClearance}, #{dryWeight}, #{wetWeight}, #{fuelCapacity}, #{innerLegCurve}, #{permittedTotalWeight})
        </insert>
        <insert id="insertElectronicsData" parameterType="com.example.motorcycle.dto.ElectronicsDTO">
            INSERT INTO Electronics (motorcycleID, engineManagement, emissionControl, engineControl, alternator, battery, headlight, ignition, starting, tractionControl)
            VALUES (#{motorcycleID}, #{engineManagement}, #{emissionControl}, #{engineControl}, #{alternator}, #{battery}, #{headlight}, #{ignition}, #{starting}, #{tractionControl})
        </insert>
        <insert id="insertEnginesData" parameterType="com.example.motorcycle.dto.EnginesDTO">
            INSERT INTO Engines (motorcycleID, engine, capacity, bore_stroke, compression_ratio, cooling_system, lubrication, max_power, max_torque, fuel_system, exhaust, engine_oil, mixture_control, emission, induction)
            VALUES (#{motorcycleID}, #{engine}, #{capacity}, #{boreStroke}, #{compressionRatio}, #{coolingSystem}, #{lubrication}, #{maxPower}, #{maxTorque}, #{fuelSystem}, #{exhaust}, #{engineOil}, #{mixtureControl}, #{emission}, #{induction})
        </insert>
        <insert id="insertFramesData" parameterType="com.example.motorcycle.dto.FramesDTO">
            INSERT INTO Frames (motorcycleID, frame, frontSuspension, rearSuspension, frontWheelTravel, rearWheelTravel, frontBrakes, rearBrakes, absSystem, frontWheel, rearWheel, frontTyre, rearTyre, wheels, abs, absPro, rake, trail, frontRim, rearRim, castor, steeringAngle, steeringHeadAngle)
            VALUES (#{motorcycleID}, #{frame}, #{frontSuspension}, #{rearSuspension}, #{frontWheelTravel}, #{rearWheelTravel}, #{frontBrakes}, #{rearBrakes}, #{absSystem}, #{frontWheel}, #{rearWheel}, #{frontTyre}, #{rearTyre}, #{wheels}, #{abs}, #{absPro}, #{rake}, #{trail}, #{frontRim}, #{rearRim}, #{castor}, #{steeringAngle}, #{steeringHeadAngle})
        </insert>
        <insert id="insertTransmissionsData" parameterType="com.example.motorcycle.dto.TransmissionsDTO">
            INSERT INTO Transmissions (motorcycleID, transmission_drive, transmission, final_drive, primary_drive_ratio, primary_ratio, gear_ratio, transmission_ratio, secondary_ratio, gear_ratios, clutch)
            VALUES (#{motorcycleID}, #{transmissionDrive}, #{transmission}, #{finalDrive}, #{primaryDriveRatio}, #{primaryRatio}, #{gearRatio}, #{transmissionRatio}, #{secondaryRatio}, #{gearRatios}, #{clutch})
        </insert>


        <!-- 데이터 업데이트 -->
        <update id="updateMotorcycle" parameterType="com.example.motorcycle.domain.MotorcycleDomain">
                UPDATE Motorcycle
                SET brand = #{brand}, model = #{model}, years = #{years}, production = #{production}, replica = #{replica},
                    cruiser = #{cruiser}, tourer = #{tourer}, adventure = #{adventure}, multiPurpose = #{multiPurpose},
                    naked = #{naked}, cafeRacer = #{cafeRacer}, scrambler = #{scrambler}, offRoad = #{offRoad},
                    motard = #{motard}, trial = #{trial}, scooter = #{scooter}, classic = #{classic}
                WHERE motorcycleID = #{motorcycleID}
        </update>
        <update id="updateDimensionsData" parameterType="com.example.motorcycle.dto.DimensionsDTO">
            UPDATE Dimensions
            SET dimensions = #{dimensions}, seatHeight = #{seatHeight}, wheelbase = #{wheelbase}, groundClearance = #{groundClearance},
                dryWeight = #{dryWeight}, wetWeight = #{wetWeight}, fuelCapacity = #{fuelCapacity}, innerLegCurve = #{innerLegCurve},
                permittedTotalWeight = #{permittedTotalWeight}
            WHERE motorcycleID = #{motorcycleID}
        </update>
        <update id="updateElectronicsData" parameterType="com.example.motorcycle.dto.ElectronicsDTO">
            UPDATE Electronics
            SET engineManagement = #{engineManagement}, emissionControl = #{emissionControl}, engineControl = #{engineControl},
                alternator = #{alternator}, battery = #{battery}, headlight = #{headlight}, ignition = #{ignition},
                starting = #{starting}, tractionControl = #{tractionControl}
            WHERE motorcycleID = #{motorcycleID}
        </update>
        <update id="updateEnginesData" parameterType="com.example.motorcycle.dto.EnginesDTO">
            UPDATE Engines
            SET engine = #{engine}, capacity = #{capacity}, bore_stroke = #{boreStroke}, compression_ratio = #{compressionRatio},
                cooling_system = #{coolingSystem}, lubrication = #{lubrication}, max_power = #{maxPower}, max_torque = #{maxTorque},
                fuel_system = #{fuelSystem}, exhaust = #{exhaust}, engine_oil = #{engineOil}, mixture_control = #{mixtureControl},
                emission = #{emission}, induction = #{induction}
            WHERE motorcycleID = #{motorcycleID}
        </update>
        <update id="updateFramesData" parameterType="com.example.motorcycle.dto.FramesDTO">
            UPDATE Frames
            SET frame = #{frame}, frontSuspension = #{frontSuspension}, rearSuspension = #{rearSuspension},
                frontWheelTravel = #{frontWheelTravel}, rearWheelTravel = #{rearWheelTravel}, frontBrakes = #{frontBrakes},
                rearBrakes = #{rearBrakes}, absSystem = #{absSystem}, frontWheel = #{frontWheel}, rearWheel = #{rearWheel},
                frontTyre = #{frontTyre}, rearTyre = #{rearTyre}, wheels = #{wheels}, abs = #{abs}, absPro = #{absPro},
                rake = #{rake}, trail = #{trail}, frontRim = #{frontRim}, rearRim = #{rearRim}, castor = #{castor},
                steeringAngle = #{steeringAngle}, steeringHeadAngle = #{steeringHeadAngle}
            WHERE motorcycleID = #{motorcycleID}
        </update>
        <update id="updateTransmissionsData" parameterType="com.example.motorcycle.dto.TransmissionsDTO">
            UPDATE Transmissions
            SET transmission_drive = #{transmissionDrive}, transmission = #{transmission}, final_drive = #{finalDrive},
                primary_drive_ratio = #{primaryDriveRatio}, primary_ratio = #{primaryRatio}, gear_ratio = #{gearRatio},
                transmission_ratio = #{transmissionRatio}, secondary_ratio = #{secondaryRatio}, gear_ratios = #{gearRatios},
                clutch = #{clutch}
            WHERE motorcycleID = #{motorcycleID}
        </update>


        <!-- 데이터 삭제 -->
        <delete id="deleteMotorcycleData" parameterType="long">
                DELETE FROM Motorcycle WHERE motorcycleID = #{motorcycleID}
        </delete>
        <delete id="deleteDimensionsData" parameterType="long">
            DELETE FROM Dimensions WHERE motorcycleID = #{motorcycleID}
        </delete>
        <delete id="deleteElectronicsData" parameterType="long">
            DELETE FROM Electronics WHERE motorcycleID = #{motorcycleID}
        </delete>
        <delete id="deleteEnginesData" parameterType="long">
            DELETE FROM Engines WHERE motorcycleID = #{motorcycleID}
        </delete>
        <delete id="deleteFramesData" parameterType="long">
            DELETE FROM Frames WHERE motorcycleID = #{motorcycleID}
        </delete>
        <delete id="deleteTransmissionsData" parameterType="long">
            DELETE FROM Transmissions WHERE motorcycleID = #{motorcycleID}
        </delete>
</mapper>